@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    background-color: #f0f0f0;
}

.cards {
  z-index: 999;
  position: relative;
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.property-card {
  margin-left: 15px;
  height: 18em;
  width: 14em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 3px 3px 6px #000;

}

.property-image {
  height: 6em;
  width: 14em;
  padding: 1em 2em;
  position: absolute;
  top: 0px;
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-size: cover;
  background-repeat: no-repeat;
}

#property-image-1{
      background-image: url("https://bit.ly/3hojKuG");
}

#property-image-2{
      background-image: url("https://bit.ly/3hl8YoJ");
}

#property-image-3{
      background-image: url("https://bit.ly/2WPNVBf");
}

.property-description {
  font-weight: lighter;
  background-color: rgba(255,255,255);
  height: 12em;
  width: 14em;
  position: absolute;
  bottom: 0em;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 3em 1em;
  text-align: center;
}

.card-title{
  font-size: 30px;
}


.property-card:hover .property-description {
  height: 0em;
  padding: 0px 1em;
}
.property-card:hover .property-image {
  height: 18em;
  background-position: center;
}

.property-card:hover{
  background-color: blue;
  cursor: pointer;
}
